.nav {
    display: flex;
    margin: 15px;
    font-weight: bold;
}

.hr {
    border: none;

}

.link {
    /* color: #5b6fc8; */
    margin: 5px;
    text-decoration: none;
}

.active {
    color: #a81a21;
}